/* #1e61a8 #eee #888 #555 #ff7f50 */
/* 40(2.5rem) 24(1.5rem) 18(1.125rem) 14(0.875rem) 12(0.75rem) 16 */
/* all-layout */
header, main {width:1080px; margin:0 auto;}
header {background-color:lightyellow;}
main {background-color:lightgray; overflow:hidden;}
main aside {background-color:lightblue; width:200px; float:left; margin-right:32px;}
main .container {background-color:lightgreen; width:848px; float:left;}
/* -----------header 검색어입력--------- */
header {padding:20px 0;}
header #searchFrm {
    border:3px solid #1e61a8;
    background-color:#fff; border-radius:5px;
    width:435px; margin:0 auto;
}
header #searchFrm fieldset {}
header #searchFrm fieldset input {width:90%; float:left; border:0;}
header #searchFrm fieldset button {
    background-color:#1e61a8; color:#fff;
    width:30px; height:30px; float:right;
}
header #searchFrm fieldset button::after {
    content:'\f002'; display:block;
}
header #searchFrm fieldset button img {}
main {}
/* -----------main-left 사이드메뉴--------- */
main aside {}
main aside h2 {
    color:#1e61a8; font-weight: 700;
    font-size:1.5rem; text-align:center;
    margin-bottom:30px;
}
main aside .menu {}
main aside .menu a {
    display:block; padding:20px 0 20px 10px;
    border-top:1px solid #eee; font-weight:700;
}
main aside .menu a:last-child {border-bottom:1px solid #eee;}
main aside .menu .active {
    background-color:#1e61a8; color:#fff;
}
/* -----------main-right 로그인 주요 내용--------- */
main .container {}
main .container .title_path {
    overflow:hidden; background-color:#eee;
    border-bottom:1px solid #888;
    padding:20px 15px;
}
main .container .title_path h1 {
    float:left; font-weight: 700;
}
main .container .title_path dl {float:right;}
main .container .title_path dl dd {}
main .container .title_path dl dd::before {
    content:'\f015'; display:inline-block; font-weight:600;
}
main .container .title_path dl dd span {}
main .container .title_path dl dd,
main .container .title_path dl dd span {font-size:0.875rem;}
main .container .title_path dl dd span::before,
main .container .title_path dl dd span::after {
    content:'\f104'; display:inline-block; font-weight:600;
}
/* -----------main-right 로그인 박스--------- */
main .container .contents {padding:25px;}
main .container .contents .login_box {
    width:720px; 
    margin:30px auto 50px; 
    padding:30px 0 30px 30px;
    background-color:#eee; border:1px solid #888;
    background-image:url(../images/bg.png);
    background-repeat: no-repeat;
    background-position:90% 35%;
}
main .container .contents .login_box h2 {}
main .container .contents .login_box h2 span {color:#1e61a8;}
main .container .contents .login_box h2,
main .container .contents .login_box h2 span {letter-spacing:-0.03em; font-size:2.5rem;}
main .container .contents .login_box > p {color:#888; padding:20px 0;}
main .container .contents .login_box #loginFrm {}
main .container .contents .login_box #loginFrm fieldset {overflow:hidden;}
main .container .contents .login_box #loginFrm fieldset .left {float:left;}
main .container .contents .login_box #loginFrm fieldset .left li {}
main .container .contents .login_box #loginFrm fieldset .left li:first-child {margin-bottom:18px;}
main .container .contents .login_box #loginFrm fieldset .left li span {
    display:inline-block; width:70px;}
main .container .contents .login_box #loginFrm fieldset .left li input {width:285px;}
main .container .contents .login_box #loginFrm fieldset p {margin-left:10px; float:left;}
main .container .contents .login_box #loginFrm fieldset p button {
    width:75px; height:67px; background-color:#1e61a8; color:#fff;
}
main .container .contents .login_box .join_search {margin:20px 0 0 70px;}
main .container .contents .login_box .join_search a {
    background-color:#555; color:#fff;
    padding:15px 10px; display:inline-block;
}
/* -----------main-right 위로--------- */
main .container .contents .top_link {
    background-color:#eee; display:inline-block;
    width:50px; height:50px; border-radius:50%;
    text-align:center; line-height:50px; float:right;
    margin-bottom:20px;
}
main .container .contents .top_link::before {
    content:'\f077'; display:inline; font-weight:600;
}
/* -----------main-right 웹 콘텐츠 명언--------- */
main .container .contents .bottom_text {
    clear:both; background-color:#eee; border:1px solid #888;
    padding:25px 0 25px 100px;
}
main .container .contents .bottom_text p {line-height:1.8;}
main .container .contents .bottom_text p em {color:#ff7f50;}
main .container .contents .bottom_text p,
main .container .contents .bottom_text p em {font-size:0.875rem;}